#contact{
  background: #454545;
  color: #fff;
  padding: 40px 0;
  background-image: url(../img/garage_bg.jpg);
  background-size: cover;
  background-position: center;
  h1{
    margin-bottom: 30px;
  }
  .form-wrapper{
    textarea{
      resize: none;
      height: 80px;
    }
    .btn-send{
      @include border-radius(8px);
      min-width: 150px;
      background-color: $red;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      > .fa-spin{
        display: none;
      }
      &.loading{
        background-color: lighten($red, 10%);
        cursor: not-allowed;
        > .fa-spin{
          display: inline-block;
        }
      }
      &:hover,&:focus{
        background-color: lighten($red, 10%);
      }
    }
  }
  .list-info{
    padding-top: 50px;
    font-weight: 300;
    font-size: 16px;
    h4{
      margin-bottom: 15px;
    }
    a, p{
      @include display-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      > span + span{
        width: calc(100% - 30px);
      }
    }
    a:hover,a:focus{
      color: $orange;
    }
  }
  .icon-wrapper{
    @include display-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .tax{
    margin-left: 30px;
  }
  @media (min-width: 992px){
    .form-wrapper{
      padding-right: 50px;
      .btn-send{
        height: 50px;
        width: 200px;
      }
    }
    .form-group{
      margin-bottom: 20px;
    }
    .form-control{
      height: 50px;
    }
    .list-info{
      padding-top: 80px;
      h4{
        font-size: 22px;
      }
      .tax,
      a,p > span + span{
        font-size: 18px;
      }
    }
  }
}
