@font-face {
  font-family: "SF UI Display";
  font-weight: 900;
  src: url("../fonts/SF-UI-Display-Black.ttf");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 700;
  src: url("../fonts/SF-UI-Display-Bold.ttf");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.ttf");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.ttf");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 300;
  src: url("../fonts/SF-UI-Display-Light.ttf");
}
